<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ServiceSoap11">
                    <security mode="Transport" />
                </binding>
                <binding name="ServiceSoap111" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://sd.tanuki.ru/sd/soap/" binding="basicHttpBinding"
                bindingConfiguration="ServiceSoap11" contract="ServiceReferenceNaumen.Service"
                name="ServiceSoap11" />
        </client>
    </system.serviceModel>
</configuration>