<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="CCAConnectionString" connectionString="Data Source=SATURN;Initial Catalog=TEST;Persist Security Info=True;User ID=sa;Password=1" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
</configuration>