<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="CCAConnectionString" connectionString="Data Source=WIL-KRIM;Initial Catalog=CCWS;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
   <customErrors mode="Off"/>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
</configuration>